
<!-- We are thw SinfonIA team --------------------------------------------------------------------------------------->
<div class="section">
    <div class="container">
        <div class="layout-grid intro">
            <div id="about1" class="about-head">
                <div class="label about-item">HEY THERE!</div>
                <h1 class="hey-heading"> We are the SinfonIA team</h1>
                <p class="paragraph-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates numquam consequuntur tempora odio temporibus, ut eaque aliquid sapiente repellat. Molestiae quos sunt culpa! Sapiente voluptates eius consequuntur recusandae eum?</p>
            </div><img src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2023/08/10/64d4f87731254.r_d.2013-1157-3106.jpeg" alt="SinfonIA team" id="about2" class="img-team">
        </div>
    </div>
</div>

<!-- Our vision ----------------------------------------------------------------------------------------------------->

