/* sinfonIA description ======================================================================================================= */

.section {
    background-color: snow;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    width: 100%;
    max-width: 80%;
    margin: auto;
}

.intro {
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1600px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }
  .img-about {
    width: 100% !important;
  }
  
  
}

.img-about {
  width: 70%;
}

.about-head {
    width: 100%;
    max-width: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

.about-item {
    opacity: .6;
    text-align: left;
    font-family: Montserrat, sans-serif;
}

.hey-heading {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-family: Montserrat, sans-serif;
}


/* vision ======================================================================================================= */
  
  .vision {
    width: 100%;
    max-width: 80%;
    margin-bottom: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  
  
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    text-align: left;
    font-family: Montserrat, sans-serif;
  }

  /* Timeline */

  .heading-3 {
    text-align:center;
    font-weight: 300;
    font-family: Montserrat, sans-serif;
  }
  
  #timeline {
    display: flex;
    background-color: #b2d4e6;
  }
  
  #timeline:hover .tl-item {
    width: 23.3333%;
  }
  
  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 35%;
    height: 10vh;
    min-height: 500px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  }
  
  .tl-item:before,
  .tl-item:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .tl-item:after {
    background: transparentize(#031625, 0.15);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .tl-item:hover {
    width: 30% !important;
  }
  
  .tl-item:hover:after {
    opacity: 0;
  }
  
  .tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
  }
  
  .tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }
  
  .tl-item:hover .tl-bg {
    filter: grayscale(0);
  }

  
  
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
  }
  
  .tl-content h1 {
    color: #ffffff;
    font-size: 1.44rem;
    font-weight: normal;
  }
  
  .tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  
  .tl-year p {
    font-size: 1.728rem;
    line-height: 0;
  }
  
  
  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }

.tl-year {
  transition: transform 0.3s ease;
}

.tl-item:hover .tl-year {
  transform: translateY(-110px) translateX(-30px);
}

.tl-content {
  transition: transform 0.3s ease;
}

.tl-item:hover .tl-content {
  transform: translateY(-100px);
  transition-delay: 0.1s;
}

