
<!-- We are thw SinfonIA team --------------------------------------------------------------------------------------->
<div class="section">
    <div class="container">
        <div class="layout-grid intro">
            <div id="about1" class="about-head">
                <div class="label about-item">HEY THERE!</div>
                <h1 class="hey-heading"> We are the SinfonIA team</h1>
                <p class="paragraph-light">We are the robotics and AI research group at Universidad de Los Andes, a team passionate
                   about merging technology and human interaction. We currently work in the following subgroups: Perception, Navigation,
                    Manipulation and Speech, each of which refines a piece of the social interaction pie. Likewise, members in Interface
                     and Toolkit ensure that our robots are top-notch, while task members orchestrate the grand symphony of robotic tasks.
                      We are a multidisciplinary dream team, merging engineering prowess with the creative minds of several university
                       departments. Join us on this journey where technology and humanity come together to shape the future of robotics.</p>
            </div><img src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2023/08/10/64d4f87731254.r_d.2013-1157-3106.jpeg" alt="SinfonIA team" id="about2" width="150%">
        </div>
    </div>
</div>

<!-- Our vision ----------------------------------------------------------------------------------------------------->
<div class="section">
    <div class="container">
        <div class="layout-grid vision">
            <div id="v1" class="v2">
                <h3>Our vision</h3>
                <p class="paragraph-light">We aspire to forge a future where technology and research merge into a perfect symphony.
                     Our vision encompasses leadership in orchestrating innovation in emerging fields, fostering collaboration that
                      resonates with diversity and creativity. We seek to impact society significantly, transcending beyond research
                       to improve lives and understand our world. We strive to stand out as leaders in scientific harmonization,
                        where each member contributes to a collective composition of excellence and originality. We envision the
                         construction of a constant technological crescendo, taking our research to new heights and ensuring a lasting
                          impact on society, convinced that true innovation arises from the perfect union of creative minds and
                           transformative technology.</p> 
            </div>
        </div>
    </div>
</div>

<!-- TimeLine ----------------------------------------------------------------------------------------------------->
<h1 class="heading-3" style="margin: 20px;" >Our timeline</h1>
<section id="timeline">
    
    <div class="tl-item"> 
      <div class="tl-bg" style="background-image: url(https://placeimg.com/801/801/nature)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2010</p>
      </div>
      <div class="tl-content">
        <h1>SinfonIA Foundation</h1>
        <p>This year marked the birth of SinfonIA, an exciting student initiative driven by its pioneers.
           The genesis of SinfonIA was driven by the arrival of a fascinating pepper robot named Opera,
            donated by Bancolombia in the SinfonIA alliance. This alliance, formed by the Universidad de los
             Andes, Universidad Santo Tomás and Universidad de Magdalena, is a collaboration between industry
              and academia to support the application and development of artificial intelligence and robotics
               in research projects.</p>
      </div>
    </div>
  
    <div class="tl-item"> 
      <div class="tl-bg" style="background-image: src()"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2018</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Vestibulum laoreet lorem</h1>
        <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas dignissim ipsum vel mi rutrum egestas. Donec mauris nibh, facilisis ut hendrerit vel, fringilla sed felis. Morbi sed nisl et arcu.</p>
      </div>
    </div>

    <div class="tl-item"> 
      <div class="tl-bg" style="background-image: src()"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2019</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Robocup 2019</h1>
        <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas dignissim ipsum vel mi rutrum egestas. Donec mauris nibh, facilisis ut hendrerit vel, fringilla sed felis. Morbi sed nisl et arcu.</p>
      </div>
    </div>
  
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(https://placeimg.com/803/803/nature)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2021</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Robocup 2021</h1>
        <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate neque sit amet varius. Maecenas ac pulvinar nisi. Fusce vitae nunc ultrices, tristique dolor at, porttitor dolor. Etiam id cursus arcu, in dapibus nibh. Pellentesque non porta leo. Nulla eros odio, egestas quis efficitur vel, pretium sed.</p>
      </div>
  
    </div>
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(https://placeimg.com/800/800/nature)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2022</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Robocup 2022</h1>
        <p>Suspendisse ac mi at dolor sodales faucibus. Nunc sagittis ornare purus non euismod. Donec vestibulum efficitur tortor, eget efficitur enim facilisis consequat. Vivamus laoreet laoreet elit. Ut ut varius metus, bibendum imperdiet ex. Curabitur diam quam, blandit at risus nec, pulvinar porttitor lorem. Pellentesque dolor elit.</p>
      </div>
  
    </div>
    <div class="tl-item">
        <div class="tl-bg" style="background-image: url(https://placeimg.com/800/800/nature)"></div>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">2023</p>
        </div>
        <div class="tl-content">
          <h1 class="f3 text--accent ttu">Robocup 2023</h1>
          <p>We participated in the RoboCup competition in Bordeaux, France, showcasing our dedication
             and innovation in robotics. Our team's outstanding achievement of securing a remarkable second place. </p>
        </div>
      </div>
  </section>