
<!-- We are thw SinfonIA team --------------------------------------------------------------------------------------->
<div class="section">
    <div class="container">
        <div class="layout-grid intro">
            <div id="about1" class="about-head">
                <div class="label about-item">HEY THERE!</div>
                <h1 class="hey-heading"> We are the SinfonIA team</h1>
                <p class="paragraph-light">We are the robotics and AI research group at Universidad de Los Andes, a team passionate about merging technology and human interaction. We currently work in the following subgroups: Perception, Navigation, Manipulation and Speech, each of which refines a piece of the social interaction pie. Likewise, members in Interface and Toolkit ensure that our robots are top-notch, while task members orchestrate the grand symphony of robotic tasks. We are a multidisciplinary dream team, merging engineering prowess with the creative minds of several university departments. Join us on this journey where technology and humanity come together to shape the future of robotics.</p>
            </div><img src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2023/08/10/64d4f87731254.r_d.2013-1157-3106.jpeg" alt="SinfonIA team" id="about2" width="150%">
        </div>
    </div>
</div>

<!-- Our vision ----------------------------------------------------------------------------------------------------->
<div class="section">
    <div class="container">
        <div class="layout-grid vision">
            <div id="v1" class="v2">
                <h3>Our vision</h3>
                <p class="paragraph-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo aspernatur distinctio, quaerat, dolorum quam incidunt rerum eaque amet magnam autem quas unde vitae vero possimus repellat, voluptates esse tempora ipsa.</p> 
            </div>
        </div>
    </div>
</div>

