.navigation-item {
    opacity: .6;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.navigation-item:hover{
    opacity: .9;
}

.navigation-item:active{
    opacity: .8;
}

.navigation-item.w--current{
    opacity: 1;
    color: #69c8d9;
    font-weight: 600;
}

.navigation-item.w--current:hover{
    opacity: .8;
    color: #32343a;
}

.navigation-item.w--current:active{
    opacity: .7;
    color: #32343a;
}

.navigation-items {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navigation {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    padding: 30px 50px;
    display: flex;
}

.navigation-wrap {
    align-items: center;
    margin-right: -20px;
    display: flex;
}

.navigation-item {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
}

.navigation-item:hover {
    background-color: #f7f8f9;
}

.navigation-item:active {
    background-color: #eef0f3;
}

.navigation-items {
    background-color: #fff;
}

.navigation {
    padding: 25px 30px;
}

.navigation-wrap {
    margin-right: 0;

}

.navigation {
    padding-left: 20px;
    padding-right: 20px;
}

.logo-link {
    z-index: 1;
}

.logo-link:hover {
    opacity: .8;
}

.logo-link:active {
    opacity: .7;
}

.logo-image {
    display: block;
}

.logo-link.w--current {
    flex: 1;
}

.logo-link {
    padding-left: 0;
}