  <!-- navbar -------------------------------------------------------------------------------------------------------------------->
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-items">
      <a aria-current="page" class="logo-link w-nav brand w--current"><img src="https://electricayelectronica.uniandes.edu.co/sites/default/files/estudiantes/SinfonIA.png" width="120" sizes="104px" srcset="" alt="" class="logo-image"></a>
      <div class="navigation-wrap"> 
        <nav role="navigation" class="navigation-items w-nav-menu">
          <a routerLink="/" routerLinkActive="active" aria-current="page" class ="navigation-item w-nav-link w--current">Home</a>
          <a routerLink="about" routerLinkActive="active" class ="navigation-item w-nav-link w--current">About Us</a>
          <a routerLink="tools" routerLinkActive="active" class ="navigation-item w-nav-link w--current">Our Tools</a>
          <a routerLink="" routerLinkActive="active" class ="navigation-item w-nav-link w--current">Projects</a>
        </nav>
        <div class="menu-button w-nav-button"><img src="" width="22" alt="" class="menu-icon"> </div>
      </div>
    </div>
  </div>
  <!-- navbar -------------------------------------------------------------------------------------------------------------------->
  <router-outlet></router-outlet>
  <!-- Footer -------------------------------------------------------------------------------------------------------------------------->
<footer>
  <div class="footer-wrap">
      <div class="div-block-2">
          <a href="https://uniandes.edu.co" target="_blank" class="footer-item">
              <img src="assets\logoInv.png" loading="lazy" width="33" alt="" class="webflow-logo-tiny">
              <div class="paragraph-tiny">UNIVERSIDAD DE LOS ANDES, BOGOTÁ</div>
          </a>
          <a href="https://www.instagram.com/sinfonia_uniandes/" target="_blank" class="footer-item">
              <img src="assets/logoInstagram.png" loading="lazy" width="33" alt="">
              Instagram
          </a>
      </div>
      <div class="footer-links">
          <img src="assets\icon-pepper.png" loading="lazy" width="30" alt="">
      </div>
      <div class="text-block">This page is administered by SinfonIA web team</div>
      <div style="margin-top: 30px;"></div>
  </div>
  <div class="footer-2">Property of SinfonIA. SinfonIA is a research group of the Universidad de Los Andes. © 2023 SinfonIA Research Group. Bogotá, Colombia</div>
</footer>
<!-- Footer -------------------------------------------------------------------------------------------------------------------------->
