<!-- meet our team ------------------------------------------------------------------------------------------------------------------------------------------------------->
<section>
  <h1 class="heading-3" style="margin: 20px">Meet our team!</h1>
  <div class="team">
    <p>We are made up of individuals from diverse academic disciplines who share a common interest:
       to explore beyond conventional boundaries and immerse ourselves in the fascinating world of robotics,
        artificial intelligence, machine learning, programming, and many other exciting areas that our group has to offer. 
        We are committed to learning and applying this knowledge in practice, with the goal of expanding our skills and 
        making a significant contribution to the advancement of technology.</p>
  </div>
</section>

<!-- tools ------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="contenedor">
  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Tools</h1>
          <p class="paragraph-light">We've developed seven tools, meticulously organized into subgroups, form a strategic
             framework for seamless communication with the robot. The toolkit initiates direct communication, while other
              tools oversee the robot's senses, navigation, arm manipulation, environment interaction, speech processing,
               perception through cameras, and interface interaction via a tablet. This integration ensures not only
                comprehensive control over the robot's diverse functionalities but also enhances its adaptability and
                 intelligence in executing tasks across various scenarios.</p>
      </div>
  </div>
  <div class="inf">
    <div class="d-grid gap-2" style="margin-top: 10px;">
      <button type="button" class="btn btn-primary btn-lg"><a href="tools#task_tools_component">Task</a></button>
    </div>
    <div class="button-container">
      <button type="button" class="btn btn-primary btn-lg"><a href="tools#interface_tools_component">Interface</a></button>
      <button type="button" class="btn btn-primary btn-lg"><a href="tools#nav_tools_component">Navigation</a></button>
      <button type="button" class="btn btn-primary btn-lg"><a href="tools#percep_tools_component">Perception</a></button>
      <button type="button" class="btn btn-primary btn-lg"><a href="tools#manip_tools_component">Manipulation</a></button>
      <button type="button" class="btn btn-primary btn-lg"><a href="tools#speech_tools_component">Speech</a></button>
    </div>
    <div class="d-grid gap-2" style="margin-top: 10px;">
      <button type="button" class="btn btn-primary btn-lg">Toolkit</button>
      <button type="button" class="btn btn-primary btn-lg" >Pepper robot</button>
    </div>
  </div>
</section>

<!-- task team ------------------------------------------------------------------------------------------------------------------------------------------------------->
<section>
  <div class="section">
    <div class="container">
        <h1 class="heading-3">Administrative Team</h1>
          <p class="paragraph-light">At the heart of our organization is an efficient administrative team led by our advisor professor.
             This team oversees event coordination, outings, competitions, and various organizational tasks. Their commitment ensures the smooth execution
              of our activities, fostering a dynamic and inclusive atmosphere. Together, they play a vital role in steering our team towards success in every endeavor.</p>
      </div>
      
      <div style="min-height: 120px;">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\alexa.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Alexandra Gutierrez</h2>
                    <h3 class="role">Administrative affairs</h3>
                    <p class="description">Member since 2021</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\juanjo_pre.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan José Garcia</h2>
                    <h3 class="role">SinfonIA leader</h3>
                    <p class="description">Member since 2018</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  

  <div class="section" id="task_tools_component">
    <div class="container">
        <h1 class="heading-3"> Task Team</h1>
          <p class="paragraph-light">Task Team is a dedicated group specializing in the development of state-machines.
             Our core objective involves aggregating services from diverse tools, seamlessly integrating them to empower
              robots in the execution and strategic planning of specific tasks. Presently, our endeavors extend to projects
               aimed at achieving comprehensive automation through cutting-edge AI technologies, enabling the robots to
                autonomously program and optimize their functionalities.</p>
      </div>
      <div style="min-height: 120px;">
        <div>
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\luccas.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Luccas Rojas Becerra</h2>
                    <h3 class="role">Task leader</h3>
                    <p class="description">Member since 2021</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\j_andres.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan Andres Carrasquilla</h2>
                    <h3 class="role">Task member </h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\david_z.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Zamora</h2>
                    <h3 class="role">Task member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\angie.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Angie Polandia</h2>
                    <h3 class="role">Task member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>


  <div class="section" id="interface_tools_component">
    <div class="container">
        <h1 class="heading-3"> Interface Team</h1>
          <p class="paragraph-light">The Interface team specializes in creating user-friendly visual tools for the robot's interface.
             Their work involves developing visual control tools using various programming languages and technologies, conducting
              tests with real users to measure effectiveness and make improvements, and collaborating with other developers and
               experts to optimize the interface and enhance the robot's social interaction capabilities. Their goal is to enable
                easy and efficient control and interaction for users with diverse needs.</p>
      </div>
      <div style="min-height: 120px;">
        <div>
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\david_c.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Cuevas Alba</h2>
                    <h3 class="role">Interface leader</h3>
                    <p class="description">Member since 2022</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Valeria Torres Gomez</h2>
                    <h3 class="role">Interface member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Maria Paula Estupiña</h2>
                    <h3 class="role">Interface member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan David Guevara</h2>
                    <h3 class="role">Interface member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section" id="nav_tools_component">
    <div class="container">
        <h1 class="heading-3"> Navigation Team</h1>
          <p class="paragraph-light">The Navigation team is all about making sure the robot can move around autonomously and
             understand its surroundings. Their main focus is on developing systems that allow the robot to navigate on its own
              and create maps of the environment. They're working on projects to enhance the autonomous navigation capabilities
               of the robot, ensuring it can move intelligently and safely. </p>
      </div>

      <div style="min-height: 120px;">
        <div>
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Julian Andres Mendez</h2>
                    <h3 class="role">Navigation leader</h3>
                    <p class="description">Member since 2021</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\alejandra.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Maria Alejandra Angulo </h2>
                    <h3 class="role">Navigation member </h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Sofia Acosta</h2>
                    <h3 class="role">Navigation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\camilo.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Camilo Murcia</h2>
                    <h3 class="role">Navigation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section" id="percep_tools_component">
    <div class="container">
        <h1 class="heading-3"> Perception Team</h1>
          <p class="paragraph-light">The Perception team specializes in harnessing the power of machine learning technologies,
             including tools like YOLO, to enable the robot's cameras to recognize and track people, objects, and various elements
              in its environment. Their expertise extends to a broad spectrum of tasks, all centered around enhancing the robot's
               vision capabilities. From person and object recognition to movement tracking, the Perception team plays a pivotal
                role in empowering the robot with a nuanced understanding of its surroundings through advanced visual processing.</p>
      </div>
      <div style="min-height: 120px;">
        <div>
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\d_tobon.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Tobón Molina</h2>
                    <h3 class="role">Perception leader</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\s_rodr_per.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Santiago Rodriguez</h2>
                    <h3 class="role">Perception leader</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\sergio.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Sergio Andres Cañar</h2>
                    <h3 class="role">Perception member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Abel Arismendy</h2>
                    <h3 class="role">Perception leader</h3>
                    <p class="description">Member since 2022</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\ana.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Ana Gomez</h2>
                    <h3 class="role">Perception member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Marcio Padilla</h2>
                    <h3 class="role">Perception member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section" id="manip_tools_component">
    <div class="container">
        <h1 class="heading-3"> Manipulation Team</h1>
          <p class="paragraph-light">The Manipulation team focuses on enhancing the robot's interaction with its environment through
             the careful planning and execution of arm movements. They specialize in trajectory and pose planning, ensuring the robot's
              arms navigate and manipulate objects smoothly. The team also excels in obstacle avoidance, enabling the robot to interact
               with its surroundings effortlessly. Their expertise lies in creating a natural and effective movement for the robot's
                arms, allowing it to interact seamlessly with objects in its environment.</p>
      </div>
      <div style="min-height: 120px;">
        <div>
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Santiago Rodriguez</h2>
                    <h3 class="role">Manipulation leader</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Maria lucia Benavides</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan David Villota</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan Manuel Silva</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Javier Rolando Prieto</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\andres.jpg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Andres Julian Bolivar</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section" id="speech_tools_component">
    <div class="container">
        <h1 class="heading-3"> Speech Team</h1>
          <p class="paragraph-light">The Speech team specializes in natural language processing to facilitate seamless interaction
             between the robot and humans. Their focus is on enabling the robot to not only understand spoken language but also
              engage in meaningful conversations. Leveraging cutting-edge AI models and advanced technologies, the team works on
               both the robot's ability to speak and comprehend. Through the implementation of state-of-the-art techniques, they
                ensure that the robot can effectively communicate, listen, and engage in dynamic conversations with users.</p>
      </div>
      <div style="min-height: 120px;">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\pipo.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Felipe Valencia</h2>
                    <h3 class="role">Speech leader</h3>
                    <p class="description">Member since 2021</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\jesus.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Jesus Sandoval</h2>
                    <h3 class="role">Speech member</h3>
                    <p class="description">Member since 2022</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Jose Florez</h2>
                    <h3 class="role">Speech member</h3>
                    <p class="description">Member since 2022</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Catalina Páramo</h2>
                    <h3 class="role">Speech member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Cesar Bustos</h2>
                    <h3 class="role">Speech member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="assets\daniel_p.jpeg" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Daniel pedraza</h2>
                    <h3 class="role">Speech member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Manuela Lovera</h2>
                    <h3 class="role">Speech member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Gabriel Padilla</h2>
                    <h3 class="role">Speech member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
  </div>
</section>
<!-- meet pepper ------------------------------------------------------------------------------------------------------------------------------------------------------->
