<section>
  <h1 class="heading-3" style="margin: 20px">Meet our team!</h1>
  <div class="team">
    <p>We are made up of individuals from diverse academic disciplines who share a common interest:
       to explore beyond conventional boundaries and immerse ourselves in the fascinating world of robotics,
        artificial intelligence, programming, teamwork, communication and many other exciting areas that our
         research group has to offer. We are committed to learning and applying this knowledge in practice,
          with the goal of expanding our skills and making a significant contribution to the advancement of technology.</p>
  </div>
</section>

<section class="contenedor">
  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Tools</h1>
          <p class="paragraph-light">We've developed seven tools, meticulously organized into subgroups, form a strategic
             framework for seamless communication with the robot. The toolkit initiates direct communication, while other
              tools oversee the robot's senses, navigation, arm manipulation, environment interaction, speech processing,
               perception through cameras, and interface interaction via a tablet. This integration ensures not only
                comprehensive control over the robot's diverse functionalities but also enhances its adaptability and
                 intelligence in executing tasks across various scenarios.</p>
      </div>
  </div>
  <div class="inf">
    <div class="button-container">
      <button type="button" class="btn btn-primary btn-lg">Task module</button>
      <button type="button" class="btn btn-primary btn-lg">Interface</button>
    </div>
    <div class="button-container">
      <button type="button" class="btn btn-primary btn-lg">Navigation</button>
      <button type="button" class="btn btn-primary btn-lg">Perception</button>
      <button type="button" class="btn btn-primary btn-lg">Manipulation</button>
      <button type="button" class="btn btn-primary btn-lg">Speech</button>
    </div>
    <div class="d-grid gap-2" style="margin-top: 10px;">
      <button type="button" class="btn btn-primary btn-lg">Toolkit</button>
      <button type="button" class="btn btn-primary btn-lg" >Pepper robot</button>
    </div>
  </div>
</section>
