
<!-- meet our team ------------------------------------------------------------------------------------------------------------------------------------------------------->
<section>
  <h1 class="heading-3" style="margin: 20px">Meet our team!</h1>
  <div class="team">
    <p>We are made up of individuals from diverse academic disciplines who share a common interest:
       to explore beyond conventional boundaries and immerse ourselves in the fascinating world of robotics,
        artificial intelligence, machine learning, programming, and many other exciting areas that our group has to offer. 
        We are committed to learning and applying this knowledge in practice, with the goal of expanding our skills and 
        making a significant contribution to the advancement of technology.</p>
  </div>
</section>

<!-- tools ------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="contenedor">
  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Tools</h1>
          <p class="paragraph-light">We've developed seven tools, meticulously organized into subgroups, form a strategic
             framework for seamless communication with the robot. The toolkit initiates direct communication, while other
              tools oversee the robot's senses, navigation, arm manipulation, environment interaction, speech processing,
               perception through cameras, and interface interaction via a tablet. This integration ensures not only
                comprehensive control over the robot's diverse functionalities but also enhances its adaptability and
                 intelligence in executing tasks across various scenarios.</p>
      </div>
  </div>
  <div class="inf">
    <div class="button-container">
      <button type="button" class="btn btn-primary btn-lg">Task</button>
      <button type="button" class="btn btn-primary btn-lg">Interface</button>
    </div>
    <div class="button-container">
      <button type="button" class="btn btn-primary btn-lg">Navigation</button>
      <button type="button" class="btn btn-primary btn-lg">Perception</button>
      <button type="button" class="btn btn-primary btn-lg">Manipulation</button>
      <button type="button" class="btn btn-primary btn-lg">Speech</button>
    </div>
    <div class="d-grid gap-2" style="margin-top: 10px;">
      <button type="button" class="btn btn-primary btn-lg">Toolkit</button>
      <button type="button" class="btn btn-primary btn-lg" >Pepper robot</button>
    </div>
  </div>
</section>

<!-- task team ------------------------------------------------------------------------------------------------------------------------------------------------------->
<section>
  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Task Team</h1>
          <p class="paragraph-light">Task Team is a dedicated group specializing in the development of state-machines.
             Our core objective involves aggregating services from diverse tools, seamlessly integrating them to empower
              robots in the execution and strategic planning of specific tasks. Presently, our endeavors extend to projects
               aimed at achieving comprehensive automation through cutting-edge AI technologies, enabling the robots to
                autonomously program and optimize their functionalities.</p>
      </div>
      <p class="text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample1">
          Meet the Task team!
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample1">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Luccas Rojas Becerra</h2>
                    <h3 class="role">Task leader</h3>
                    <p class="description">Member since 2021</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan Andres Carrasquilla</h2>
                    <h3 class="role">Task member </h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Zamora</h2>
                    <h3 class="role">Task member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Angie Polandia</h2>
                    <h3 class="role">Task member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Interface Team</h1>
          <p class="paragraph-light">Task Team is a dedicated group specializing in the development of state-machines.
             Our core objective involves aggregating services from diverse tools, seamlessly integrating them to empower
              robots in the execution and strategic planning of specific tasks. Presently, our endeavors extend to projects
               aimed at achieving comprehensive automation through cutting-edge AI technologies, enabling the robots to
                autonomously program and optimize their functionalities.</p>
      </div>
      <p class="text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
          Meet the Interface team!
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample2">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Cuevas Alba</h2>
                    <h3 class="role">Interface leader</h3>
                    <p class="description">Member since 2022</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Valeria Torres Gomez</h2>
                    <h3 class="role">Interface member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Maria Paula Estupiña</h2>
                    <h3 class="role">Interface member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan David Guevara</h2>
                    <h3 class="role">Interface member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Navigation Team</h1>
          <p class="paragraph-light">Task Team is a dedicated group specializing in the development of state-machines.
             Our core objective involves aggregating services from diverse tools, seamlessly integrating them to empower
              robots in the execution and strategic planning of specific tasks. Presently, our endeavors extend to projects
               aimed at achieving comprehensive automation through cutting-edge AI technologies, enabling the robots to
                autonomously program and optimize their functionalities.</p>
      </div>
      <p class="text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3">
          Meet the Navigation team!
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample3">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Julian Andres Mendez Melo</h2>
                    <h3 class="role">Navigation leader</h3>
                    <p class="description">Member since 2021</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Maria Alejandra Angulo Mejía</h2>
                    <h3 class="role">Navigation member </h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Sofia Acosta</h2>
                    <h3 class="role">Navigation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Camilo</h2>
                    <h3 class="role">Navigation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Miebro 1</h2>
                    <h3 class="role">Rol</h3>
                    <p class="description">Member since xxxx</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Perception Team</h1>
          <p class="paragraph-light">Task Team is a dedicated group specializing in the development of state-machines.
             Our core objective involves aggregating services from diverse tools, seamlessly integrating them to empower
              robots in the execution and strategic planning of specific tasks. Presently, our endeavors extend to projects
               aimed at achieving comprehensive automation through cutting-edge AI technologies, enabling the robots to
                autonomously program and optimize their functionalities.</p>
      </div>
      <p class="text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample4">
          Meet the Perception team!
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample4">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Tobón Molina</h2>
                    <h3 class="role">Perception leader</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Santiago Rodriguez</h2>
                    <h3 class="role">Perception leader</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Sergio Andres Cañar Lozano</h2>
                    <h3 class="role">Rol</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Abel Arismendy</h2>
                    <h3 class="role">Perception leader</h3>
                    <p class="description">Member since 2022</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Ana Gomez</h2>
                    <h3 class="role">Perception member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Marcio Padilla</h2>
                    <h3 class="role">Perception member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Manipulation Team</h1>
          <p class="paragraph-light">Task Team is a dedicated group specializing in the development of state-machines.
             Our core objective involves aggregating services from diverse tools, seamlessly integrating them to empower
              robots in the execution and strategic planning of specific tasks. Presently, our endeavors extend to projects
               aimed at achieving comprehensive automation through cutting-edge AI technologies, enabling the robots to
                autonomously program and optimize their functionalities.</p>
      </div>
      <p class="text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample5" aria-expanded="false" aria-controls="collapseWidthExample5">
          Meet the Manipulation team!
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample5">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Santiago Rodriguez</h2>
                    <h3 class="role">Manipulation leader</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Maria lucia Benavides</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan David Villota</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan Manuel Silva</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Javier Rolando Prieto</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Andres Julian Bolivar</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>

  <div class="section">
    <div class="container">
        <h1 class="heading-3"> Speech Team</h1>
          <p class="paragraph-light">Task Team is a dedicated group specializing in the development of state-machines.
             Our core objective involves aggregating services from diverse tools, seamlessly integrating them to empower
              robots in the execution and strategic planning of specific tasks. Presently, our endeavors extend to projects
               aimed at achieving comprehensive automation through cutting-edge AI technologies, enabling the robots to
                autonomously program and optimize their functionalities.</p>
      </div>
      <p class="text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample5" aria-expanded="false" aria-controls="collapseWidthExample5">
          Meet the Speech team!
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample5">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">pipo</h2>
                    <h3 class="role">Speech leader</h3>
                    <p class="description">Member since 2022</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Maria lucia Benavides</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan David Villota</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Juan Manuel Silva</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Javier Rolando Prieto</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <img src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg?w=826" alt="miembro" class="card-img"/>
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">Andres Julian Bolivar</h2>
                    <h3 class="role">Manipulation member</h3>
                    <p class="description">Member since 2023</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
  </div>
  

</section>


<!-- meet pepper ------------------------------------------------------------------------------------------------------------------------------------------------------->
