
  <!-- slider ---------------------------------------------------------------------------------------------------------------------->

  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\robocup2023.jpg" class="d-block w-100" alt="slider image 1" >
        <div class="carousel-caption d-none d-md-block">
          <h5>Robocup 2023 Burdeos</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="slider image 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="slider image 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- news ------------------------------------------------------------------------------------------------------------>
  <h1 class="heading-3" style="margin: 20px">Recent News</h1>
  <section>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 10px; background-color:snow">
      <div class="col-md-3">
        <div class="card h-100">
          <img src="https://htmlcolorcodes.com/assets/images/colors/steel-gray-color-solid-background-1920x1080.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">We got new members!</h5>
            <p class="card-text">Hey, great news! We've just opened calls and we're excited to tell you that we've welcomed new members to all of the group's tools. There are fresh faces and new energy, so get ready to meet some great folks at our activities!</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Updated on 17 november, 2023</small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100">
          <img src="https://htmlcolorcodes.com/assets/images/colors/steel-gray-color-solid-background-1920x1080.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Expoestudiantes at Corferias</h5>
            <p class="card-text">We were at Expoestudiante 2023 representing Universidad de los Andes, presenting our group as an amazing opportunity for students. It was great to share about what we do and how they can join this exciting adventure.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Updated on 17 november, 2023</small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100">
          <img src="https://htmlcolorcodes.com/assets/images/colors/steel-gray-color-solid-background-1920x1080.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Second place in robocup 2023!</h5>
            <p class="card-text">We participated in the RoboCup 2023 in Bordeaux, France, and managed to win second place for the university. Despite the challenges, we were able to complete most of the tasks, which brings us significantly closer to first place. We are excited about this achievement and are working hard to reach new goals.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Updated on 5 november, 2023</small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100">
          <img src="https://htmlcolorcodes.com/assets/images/colors/steel-gray-color-solid-background-1920x1080.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">News 4</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur commodi fugiat, incidunt libero qui, asperiores placeat dicta odio ex adipisci ab voluptas blanditiis cumque amet necessitatibus nostrum! Quaerat, non blanditiis?</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Updated on 28 october, 2023</small>
          </div>
        </div>
      </div>
      <div style="margin-top: 30px;"></div>
    </div>
  </section>

 <!-- Projects ----------------------------------------------------------------------------------------------------------------------->
 <h1 class="heading-3" style="margin: 20px">New Projects</h1>
 <section class="dark">
	<div class="container py-4">

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title"/>
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">GPSR autonomy through different large language models</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i> Aug 2023 - Current
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">The idea with this is to give autonomy to the robot thanks to the processing of instructions using a large language model like GPT or Llama
        </div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Task</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>6 months</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Read more</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets\manip-robow.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Simplified Robot Motion: Robowflex Integration for Pepper</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Sep 2023 - Current
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Aims to streamline Pepper robot motion programming through Robowflex integration. This simplifies trajectories, enables benchmarking, and enhances the accessibility for motion planning.
        </div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Manipulation</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>6 months</li>
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-play mr-2"></i>Read more</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Web Remote Controller</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Sep 2023 - Current
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">It focuses on the implementation of a local web server that uses vueJS, django and ros to interact with the robot's toolkit, allowing control and monitoring from web devices.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Interface</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>6 months</li>
					<li class="tag__item play green">
						<a href="#"><i class="fas fa-play mr-2"></i>Read more</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>

  <!-- contact us ------------------------------------------------------------------------------------------------------------>

